#trackingForm {

  &Error {
    --bs-alert-padding-x: .5rem;
    --bs-alert-padding-y: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-close {
      padding: .58rem .5rem;
      box-shadow: none;
    }
  }
}

.pkg-card {
  background-color: $light-gray;
  border: 1px solid #e9ecef91;
  border-radius: 0.65rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;

  &-header {
    padding: .8rem 1.2rem;
    margin-bottom: 0;
    border-bottom: 2px solid $slight-gray;
    background-color: $light-gray;
    border-top-left-radius: 0.65rem;
    border-top-right-radius: 0.65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-bottom: 0;
    }

    button {
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background-color 0.5s ease;
      --bs-btn-padding-y: .25rem;
      --bs-btn-padding-x: .5rem;
      --bs-btn-font-size: .75rem;

      &:hover {
        background-color: darken($primary, 5%);
      }

      span {
        @include md {
          display: none !important;
        }
      }
    }

    span.track_number {
      color: #000;
    }
  }

  .status-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 2rem;
      width: 2px; // Adjust the width of the line as needed
      background-color: $primary; // Use the color you want for the line
      z-index: 0; // Ensure the line is behind the icons
      margin-top: 1.3rem;
      margin-bottom: var(--last-status-height);
    }

    .status {
      padding: .7rem 1rem;
      display: flex;
      position: relative;
      z-index: 1; // Ensure the status items are above the line

      &:last-of-type {
        padding-bottom: .8rem;
      }

      &:before {
        content: '';
        position: absolute;
        background-color: $light-gray;
        height: 33px;
        width: 33px;
        border: 1px solid lighten($primary, 5%);
        border-radius: 100%;
        z-index: 1;
        padding: .5rem;
      }

      i {
        font-size: .9rem;
        z-index: 1;
        text-align: center;
        margin-left: .58rem;
        margin-top: .55rem;
      }

      &.dot {
        &:before {
          background-color: $primary;
          border-color: $slight-gray;
          height: 12px;
          width: 12px;
          padding: 0;
          margin-right: 1.2rem;
          margin-left: .71rem;
        }

        i {
          display: none;
        }

        .status-info {
          margin-left: 3.5rem !important;
        }
      }


      &-info {
        color: $body-color-d20 !important;
        margin-left: 2rem;

        p {
          margin-bottom: 0 !important;
        }

        p:first-of-type {
          margin-bottom: .2rem !important;
        }

        p:last-of-type {
          margin-bottom: .5rem !important;
        }
      }

      .status-timestamp {
        color: $body-color-l20 !important;
      }

      &.delivered {
        &:before {
          background: $primary !important;
          border-width: 2px;
          border-color: $primary-l20 !important;
        }

        i {
          color: #fff;
          font-size: 1rem;
        }

        .status-timestamp {
          color: $primary !important;
        }
      }

    }
  }

  &-footer {
    text-align: center;
    border-top: 2px solid $slight-gray;
    padding-top: .5rem;
    padding-top: .5rem;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: $primary;
    }
  }
}

.waybill-title {
  span {
    color: $body-color !important;
    font-weight: normal !important;
  }
}